<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../css/styles.css" />
	<title>Greenway Bicycles</title>
	<script type="text/javascript">
	</script>
</h:head>
<h:body>
	<div id="header">
		<div class="header">
			<img src="../images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="../index.xhtml">Home</a></li>
				<li><a href="../news.xhtml">News</a></li>
				<li><a href="../contact.xhtml">Contact</a></li>
				<li><a href="../about.xhtml">About</a></li>
				<li><a href="../map.xhtml">Map</a></li>
				<li><a href="../registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{securityBean.user.role}:
						#{securityBean.user.firstName} #{securityBean.user.surname} </a></li>
				<li><button type="submit"
						onclick="document.location = '../dashboard.xhtml'"
						class="backtodashbtn">BACK TO DASHBOARD</button></li>
			</ul>
		</div>
	</div>

	<div id="main">

		<div class="container">



			<h:form>

				<h3>Date for booking summary:</h3>
				<p:calendar id="dateBookings" binding="#{dateBookings}" value="#{bookingBean.booking.startDate}"
					pattern="dd/MM/yyyy">
					<p:ajax event="dateSelect" update="@form" />
				</p:calendar>
				<p:message for="dateBookings" />

				<h3>Number of bikes booked on this date:</h3>
				<h4>Mullingar:</h4>
				<p:dataTable id="stock-mullingar"
					value="#{bookingDao.getBicyclesFromBookingsInLocationOnDate('Mullingar',dateBookings.value)}"
					var="bicycle">
					<p:column headerText="Size" style="width: 165px;">
						<h:outputText value="#{bicycle.size}">
						</h:outputText>
					</p:column>
					<p:column headerText="Model">
						<h:outputText value="#{bicycle.model}">
						</h:outputText>
					</p:column>
					<p:column headerText="Price per day">
						<h:outputText value="#{bicycle.pricePerDay}">
						</h:outputText>
					</p:column>

				</p:dataTable>

				<h4>Athlone:</h4>

				<p:dataTable id="stock-athlone"
					value="#{bookingDao.getBicyclesFromBookingsInLocationOnDate('Athlone',dateBookings.value)}"
					var="bicycle">
					<p:column headerText="Size" style="width: 165px;">
						<h:outputText value="#{bicycle.size}">
						</h:outputText>
					</p:column>
					<p:column headerText="Model">
						<h:outputText value="#{bicycle.model}">
						</h:outputText>
					</p:column>
					<p:column headerText="Price per day">
						<h:outputText value="#{bicycle.pricePerDay}">
						</h:outputText>
					</p:column>



				</p:dataTable>


				<h4>Castletown:</h4>

				<p:dataTable id="stock-castletown"
					value="#{bookingDao.getBicyclesFromBookingsInLocationOnDate('Castletown',dateBookings.value)}"
					var="bicycle">
					<p:column headerText="Size" style="width: 165px;">
						<h:outputText value="#{bicycle.size}">
						</h:outputText>
					</p:column>
					<p:column headerText="Model">
						<h:outputText value="#{bicycle.model}">
						</h:outputText>
					</p:column>
					<p:column headerText="Price per day">
						<h:outputText value="#{bicycle.pricePerDay}">
						</h:outputText>
					</p:column>


				</p:dataTable>


				<br />

			</h:form>
			<h:form>

				<h3>Date for stock report:</h3>
				<p:calendar id="dateReport" binding="#{dateReport}" value="#{bookingBean.booking.startDate}"
					pattern="dd/MM/yyyy">
					<p:ajax event="dateSelect" update="@form" />
				</p:calendar>
				<p:message for="dateReport" />

				<h3>Drop-off and pick-up totals:</h3>
				<h4>Mullingar:</h4>
				<div style="padding:20px" class="container">
					<h3>Pick ups:</h3>
					<h:outputText
						value="#{bookingDao.getBicyclesPickups('Mullingar',dateReport.value)}">
					</h:outputText>

					<h3>Drop-Offs:</h3>
					<h:outputText
						value="#{bookingDao.getBicyclesDropOffs('Mullingar',dateReport.value)}">
					</h:outputText>
				</div>

				<h4>Athlone:</h4>
				<div style="padding:20px" class="container">
					<h3>Pick ups:</h3>
					<h:outputText
						value="#{bookingDao.getBicyclesPickups('Athlone',dateReport.value)}">
					</h:outputText>

					<h3>Drop-Offs:</h3>
					<h:outputText
						value="#{bookingDao.getBicyclesDropOffs('Athlone',dateReport.value)}">
					</h:outputText>

				</div>



				<h4>Castletown:</h4>

				<div style="padding:20px" class="container">
					<h3>Pick ups:</h3>
					<h:outputText
						value="#{bookingDao.getBicyclesPickups('Castletown',dateReport.value)}">
					</h:outputText>

					<h3>Drop-Offs:</h3>
					<h:outputText
						value="#{bookingDao.getBicyclesDropOffs('Castletown',dateReport.value)}">
					</h:outputText>

				</div>

				<br />

			</h:form>
		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>