<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../css/styles.css" />
	<title>Greenway Bicycles</title>
	<script type="text/javascript">
		//<![CDATA[
		/**
		 * Faces Validator
		 */
		PrimeFaces.validator['custom.emailValidator'] = {

			pattern : /\S+@\S+/,

			validate : function(element, value) {
				//use element.data() to access validation metadata, in this case there is none.
				if (!this.pattern.test(value)) {
					throw {
						summary : 'Validation Error',
						detail : value + ' is not a valid email.',
						severity : 'error'
					}
				}
			}
		};
		//]]>
	</script>
</h:head>
<h:body>
	<div id="header">
		<div class="header">
			<img src="../images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="../index.xhtml">Home</a></li>
				<li><a href="../news.xhtml">News</a></li>
				<li><a href="../contact.xhtml">Contact</a></li>
				<li><a href="../about.xhtml">About</a></li>
				<li><a href="../map.xhtml">Map</a></li>
				<li><a href="../registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{securityBean.user.role}:
						#{securityBean.user.firstName} #{securityBean.user.surname} </a></li>
				<li><button type="submit"
						onclick="document.location = '../dashboard.xhtml'"
						class="backtodashbtn">BACK TO DASHBOARD</button></li>
			</ul>
		</div>
	</div>

	<div id="main">
		<div class="container">

			<h3>Add a Staff Email</h3>
			<div class="container-corners">
				<h:form>
					<p:messages for="email-message" />
					<div class="email-container">
						<p>Email:</p>
						<p:inputText binding="#{userManagementBean.newStaffEmail}"
							validatorMessage="Invalid Email Format ." id="newStaffEmail"
							required="true" requiredMessage="Email address required">
							<f:validateRegex
								pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
						</p:inputText>
						<p:commandButton value="Add"
							style="margin-top: auto; margin-bottom: auto;"
							styleClass="w-25 h-75 add-email ui-button-success"
							action="#{userManagementBean.addStaff}" ajax="false">
						</p:commandButton>
					</div>

					<div class="email-table-container">
						<p:dataTable id="email-table"
							value="#{userManagementBean.staffEmails}" var="email">
							<p:column headerText="Staff emails not yet registered"
								styleClass="email-table">
								<h:outputText value="#{email}"></h:outputText>
							</p:column>
							<p:column style="width:100px">
								<p:commandButton value="Remove"
									action="#{userManagementBean.removeStaffEmail(email)}"
									styleClass="ui-button-danger email-remove-btn">
									<f:ajax event="click" render="email-table"></f:ajax>
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</div>
				</h:form>
			</div>


			<h3>Edit Existing Users</h3>
			<h:form for="user-table" id="user-table-form">
				<div class="flex flex-row p-1">
					<p:selectOneMenu value="#{userManagementBean.userType}">
						<f:selectItem itemLabel="All Users" itemValue="ALL"></f:selectItem>
						<f:selectItem itemLabel="Staff" itemValue="STAFF"></f:selectItem>
						<f:selectItem itemLabel="Customers" itemValue="CUSTOMER"></f:selectItem>
						<p:ajax listener="#{userManagementBean.setUserType}"
							execute="filter-form" render="user-table" />
					</p:selectOneMenu>
					<p:commandButton value="Update List" styleClass="w-25"
						action="#{userManagementBean.getUsersForList}">
						<f:ajax event="click" render="user-table"></f:ajax>
					</p:commandButton>

				</div>
				<p:messages for="user-updated" />
				<p:dataTable id="user-table" var="user"
					value="#{userManagementBean.users}">
					<p:column headerText="Email">
						<h:outputText value="#{user.email}" />
					</p:column>
					<p:column headerText="First Name" style="width:100px;">
						<h:outputText
							rendered="#{userManagementBean.edittingUser != user}"
							value="#{user.firstName}"></h:outputText>
						<p:inputText
							style="padding-left:0; padding-right:0; margin-left:0;"
							rendered="#{userManagementBean.edittingUser == user}"
							value="#{user.firstName}"></p:inputText>

					</p:column>
					<p:column headerText="Surname" style="width:100px;">
						<h:outputText
							rendered="#{userManagementBean.edittingUser != user}"
							value="#{user.surname}"></h:outputText>
						<p:inputText
							style="padding-left:0; padding-right:0; margin-left:0;"
							rendered="#{userManagementBean.edittingUser == user}"
							value="#{user.surname}"></p:inputText>
					</p:column>
					<p:column headerText="Phone Number">
						<h:outputText
							rendered="#{userManagementBean.edittingUser != user}"
							value="#{user.phone}"></h:outputText>
						<p:inputText
							style="padding-left:0; padding-right:0; margin-left:0;"
							rendered="#{userManagementBean.edittingUser == user}"
							value="#{user.phone}"></p:inputText>
					</p:column>
					<p:column headerText="Role">
						<h:outputText
							rendered="#{userManagementBean.edittingUser != user}"
							value="#{user.role}"></h:outputText>
						<p:selectOneMenu value="#{user.role}" style="width:100px;"
							rendered="#{userManagementBean.edittingUser == user}">
							<f:selectItem itemLabel="Staff" itemValue="STAFF"></f:selectItem>
							<f:selectItem itemLabel="Customers" itemValue="CUSTOMER"></f:selectItem>
						</p:selectOneMenu>
					</p:column>
					<p:column headerText="" style="width:82px;">
						<p:commandButton value="Save" style="margin: 2px;"
							rendered="#{userManagementBean.edittingUser == user}"
							action="#{userManagementBean.saveUser(true)}">
							<f:ajax event="click" render="user-table"></f:ajax>
						</p:commandButton>
						<p:commandButton value="Cancel" style="margin: 2px;"
							styleClass="ui-button-secondary"
							rendered="#{userManagementBean.edittingUser == user}"
							action="#{userManagementBean.saveUser(false)}">
							<f:ajax event="click" render="user-table"></f:ajax>
						</p:commandButton>
						<p:commandButton value="Edit"
							rendered="#{userManagementBean.edittingUser != user}"
							action="#{userManagementBean.editUser(user)}">
							<f:ajax event="click" render="user-table"></f:ajax>
						</p:commandButton>
					</p:column>
					<p:column style="width:85px;">
						<p:commandButton value="Remove" styleClass="ui-button-danger"
							ajax="false" action="#{userManagementBean.removeUser(user)}">
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>
		</div>
	</div>
	<form action="" />

	<div id="footer">

		<p>©2021 Team Kista</p>
	</div>
</h:body>
</html>