.select-place-container h4{
	margin: 0;
	text-align: left;
}

.ui-selectonemenu{
	display: block;
}

.stock-table{
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.column-button{
	padding: auto;
	text-align: center;
}

.warning-row{
	color: red;
}

.ui-datatable .ui-datatable-data > tr > td {
	max-height: 1rem;
	padding:0;
}

svg{
	margin: auto;
	cursor: pointer;
}

svg:hover path{
	fill: orange;
}
svg:hover{
    animation: shift 1s forwards;
}

@keyframes shift{
	from{transform: translateX(0)}
	to{transform: translateX(10px)}
}