body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	width: 80%;
	margin: auto;
	background: url("../images/bicycle_background.jpg") no-repeat fixed
		center;
	background-size: cover;
}

#header {
	width: 100%;
	background-color: rgba(249, 249, 249, 1.0);
	color: black;
	font-family: 'Open Sans', sans-serif;
	border-radius: 20px;
}

#footer {
	width: 100%;
	text-align: center;
	background-color: rgba(249, 249, 249, 0.8);
	color: black;
	margin: 20px 0px 20px 0px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 20px;
}

h1, h2, p, ul {
	padding: 10px 10px;
}

h1 {
	border-bottom: 8px black dashed;
	font-size: 1rem;
}

p {
	color: #000000;
}

a {
	font-weight: bold;
}

a:link {
	color: #f9f9f9;
}

a:visited {
	color: white;
}

a:hover {
	color: orange;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	text-align: left;
	padding: 8px;
}

#header  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#header li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

input[type=text], input[type=password], textarea {
	width: 100%;
	padding: 10px;
	margin: 5px 5px 5px 5px;
	display: inline;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: orange;
	outline: none;
}

.header img {
	float: left;
	width: 10%;
	height: 25%;
	background: #f9f9f9;
}

.header h1 {
	font-family: 'Georama', sans-serif;
	font-variant: small-caps;
	font-size: 50px;
	color: green;
	position: relative;
	top: 18px;
	left: 10px;
	text-shadow: 2px 2px 5px #000000;
}

.container {
	text-align: center;
	margin: 20px 0px 20px 0px;
	padding: 50px;
	font-family: 'Open Sans', sans-serif;
	color: black;
	background-color: rgba(249, 249, 249, 0.8);
	border-radius: 20px;
}

.flip-card {
	background-color: transparent;
	width: 300px;
	height: 300px;
	perspective: 1000px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-back {
	background-color: #ffff80;
	color: black solid;
	transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: #000000;
	color: white;
}

.container-corners {
	text-align: center;
	margin: 20px 0px 20px 0px;
	padding: 50px;
	font-family: 'Open Sans', sans-serif;
	color: black;
	background-color: rgba(249, 249, 249, 0.8);
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

button {
	background-color: #04AA6D;
	color: white;
	width: 100%;
	padding: 10px 18px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	max-width: 400px;
}

.column-button {
	margin: 3px;
}

button:hover {
	opacity: 0.8;
}

.logoutbtn {
	width: 100%;
	padding: 10px 18px;
	margin: 8px 0;
	background-color: #f44336;
}

.backtodashbtn {
	width: 100%;
	padding: 10px 18px;
	margin: 8px 8px;
	background-color: #04AA6D;
}

.cancelbtn {
	width: 100%;
	padding: 10px 18px;
	background-color: #f44336;
}

.dashbtn {
	width: 100%;
	padding: 10px 18px;
	background-color: #000040;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

span.psw {
	display: block;
	float: none;
}

* {
	box-sizing: border-box;
}

/* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
	margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

/*Styles specifically for the about page slide show*/
.mySlides {
	display: none;
}

/* Style the descriptive cards */
.card {
	font-family: 'Open Sans', sans-serif;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	padding: 16px;
	text-align: center;
	background-color: #25a141;
}

.card_col_1 {
	font-family: 'Open Sans', sans-serif;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	padding: 16px;
	text-align: center;
	background-color: #007aff;
}

.card_col_4 {
	font-family: 'Open Sans', sans-serif;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	padding: 16px;
	text-align: center;
	background-color: #FFE633;
}

.card_col_2 {
	font-family: 'Open Sans', sans-serif;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	padding: 16px;
	text-align: center;
	background-color: #dc3546;
}

.card_col_3 {
	font-family: 'Open Sans', sans-serif;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	padding: 16px;
	text-align: center;
	background-color: #fec107;
}

.content {
	margin-left: 75px;
	font-size: 30px;
}

.leftcolumn {
	float: left;
	width: 75%;
}

/* Right column */
.rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
}

.table-column-s {
	width: 100px;
}

.table-column-m {
	width: 200px;
}

/* Add a card effect for articles */
.blog_card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.w-25 {
	width: 25%;
}

.w-50 {
	width: 50%;
}

.w-75 {
	width: 75%;
}

.w-100 {
	width: 100%;
}

.h-25 {
	height: 25%;
}

.h-50 {
	height: 50%;
}

.h-75 {
	height: 75%;
}

.h-100 {
	height: 100%;
}

.p-0 {
	padding: 0;
}

.p-1 {
	padding: 1rem;
}

.p-2 {
	padding: 2%;
}

.p-3 {
	padding: 3%;
}

.p-4 {
	padding: 4%;
}

.p-5 {
	padding: 5%;
}

.m-0 {
	margin: 0;
}

.m-1 {
	margin: 1%;
}

.m-2 {
	margin: 2%;
}

.m-3 {
	margin: 3%;
}

.m-4 {
	margin: 4%;
}

.m-5 {
	margin: 5%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}