button {
	margin: auto 10px;
	max-width: fit-content;
}

td button {
	max-width: 100%;
}

td div{
	width: 100%;
}
.email-container {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.email-remove-btn{
	width: 100px;
}

.email-table-container{
	margin: auto;
	width: 500px;
}

input[type=text] {
	margin: auto 5px;
	border: solid 1px lightgray;
	height: 2.75rem;
	max-width: 300px;
}