<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../css/styles.css" />
	<title>Greenway Bicycles</title>
	<script type="text/javascript">
		
	</script>
</h:head>
<body>

	<div id="header">
		<div class="header">
			<img src="../images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="../index.xhtml">Home</a></li>
				<li><a href="../news.xhtml">News</a></li>
				<li><a href="../contact.xhtml">Contact</a></li>
				<li><a href="../about.xhtml">About</a></li>
				<li><a href="../map.xhtml">Map</a></li>
				<li><a href="../registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{securityBean.user.role}:
						#{securityBean.user.firstName} #{securityBean.user.surname} </a></li>
				<li><button type="submit"
						onclick="document.location = '../dashboard.xhtml'"
						class="backtodashbtn">BACK TO DASHBOARD</button></li>
			</ul>
		</div>
	</div>
	<div id="main">
    <br/>
		<h:form>
		    <p:messages />
			<div class="container">
				<h:panelGrid columns="3" class="formTable">
				    <h:outputLabel for="product">Product/Service:</h:outputLabel>  
					<p:inputText id="product" value="#{authorizePayment.product}" /><br/> 
					<h:outputLabel for="subtotal">SubTotal:</h:outputLabel>  
					<p:inputText  id="subtotal" value="#{authorizePayment.subTotal}"/><br/>  
				    <h:outputLabel for="total">Total Amount:</h:outputLabel>  
					<p:inputText  id="total" value="#{authorizePayment.total}"/><br/> 
				   <p:commandButton action="#{authorizePayment.checkOut}" value="Checkout" ajax="false" />
				</h:panelGrid>
			</div>
		</h:form>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</body>
</html>