<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../css/styles.css" />
	<title>Greenway Bicycles confirm Booking</title>
	<script type="text/javascript">
		
	</script>
</h:head>
<h:body>
	<div id="header">
		<div class="header">
			<img src="../images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="../index.xhtml">Home</a></li>
				<li><a href="../news.xhtml">News</a></li>
				<li><a href="../contact.xhtml">Contact</a></li>
				<li><a href="../about.xhtml">About</a></li>
				<li><a href="../map.xhtml">Map</a></li>
				<li><a href="../registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{securityBean.user.role}:
						#{securityBean.user.firstName} #{securityBean.user.surname} </a></li>
				<li><button type="submit"
						onclick="document.location = '../dashboard.xhtml'"
						class="backtodashbtn">BACK TO DASHBOARD</button></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div class="container">

			<h3>#{securityBean.user.role} CREATE BOOKING FOR:
				#{securityBean.user.firstName} #{securityBean.user.surname}</h3>


			<h2>Booking Confirmation</h2>

			<h:form>
				<table>
					<tr>
						<td>Start Date</td>
						<td>#{cartBean.booking.startDate}</td>
					</tr>
					<tr>
						<td>End Date</td>
						<td>#{cartBean.booking.endDate}</td>
					</tr>
					<tr>
						<td>Pick Up Location</td>
						<td>#{cartBean.booking.pickupLocation}</td>
					</tr>
					<tr>
						<td>Drop Off Location:</td>
						<td>#{cartBean.booking.dropOffLocation}</td>
					</tr>
					<tr>
						<td>Total Amount Outstanding:</td>
						<td>€#{cartBean.calculatePayment()}</td>
					</tr>
					<tr>
						<th>Bicycle Rental Information:</th>
						<p:dataTable id="select_bicycles"
							value="#{cartBean.bicycleCountMap}" var="entry">
							<p:column headerText="Size" style="width: 165px;">
								<h:outputText value="#{entry.key.size}">
								</h:outputText>
							</p:column>
							<p:column headerText="Model">
								<h:outputText value="#{entry.key.model}">
								</h:outputText>
							</p:column>
							<p:column headerText="Number Rented" style="text-align:center">
								<h:outputText value="#{entry.value}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</tr>
				</table>
			</h:form>
			<div>
			<h:form>
				<p:commandButton action="#{cartBean.checkOut}"
					value="Pay €#{cartBean.calculatePayment()} with PayPal" ajax="false" />
			</h:form></div>
			<br />

		</div>
	</div>

	<div id="footer">
		<p>©2021 Team Kista</p>
	</div>
</h:body>

</html>