<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../css/styles.css" />
	<title>Greenway Bicycles</title>
	<script type="text/javascript">
		
	</script>
</h:head>
<h:body>
	<div id="header">
		<div class="header">
			<img src="../images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="../index.xhtml">Home</a></li>
				<li><a href="../news.xhtml">News</a></li>
				<li><a href="../contact.xhtml">Contact</a></li>
				<li><a href="../about.xhtml">About</a></li>
				<li><a href="../map.xhtml">Map</a></li>
				<li><a href="../registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{securityBean.user.role}:
						#{securityBean.user.firstName} #{securityBean.user.surname} </a></li>
				<li><button type="submit"
						onclick="document.location = '../dashboard.xhtml'"
						class="backtodashbtn">BACK TO DASHBOARD</button></li>
			</ul>
		</div>
	</div>

	<div id="main">

		<div class="container">

			<h3>#{securityBean.user.role} CREATE BOOKING FOR:
				#{securityBean.user.firstName} #{securityBean.user.surname}</h3>



			<h:form>
				<h:panelGrid columns="3" class="formTable">
				Booking start date: <p:calendar id="bookingStartDateTime"
						binding="#{bookingStartDateTime}"
						value="#{bookingBean.booking.startDate}"  pattern="dd/MM/yyyy"
						mindate="#{bookingBean.getTodaysDatePlusDays(1)}" maxdate="#{bookingBean.booking.endDate}">
						<p:ajax event="dateSelect" update="@form select_bicycle_form" />
					</p:calendar>
					<p:message for="bookingStartDateTime" />
				Booking end date: <p:calendar id="bookingEndDateTime"
						binding="#{bookingEndDateTime}" mindate="#{bookingBean.booking.startDate}" maxdate="#{bookingBean.getTodaysDatePlusDays(30)}"
						value="#{bookingBean.booking.endDate}" pattern="dd/MM/yyyy">
						<p:ajax event="dateSelect" update="@form select_bicycle_form"/>
					</p:calendar>
					<p:message for="bookingEndDateTime" />
				Pick-up location:
				
					<p:selectOneMenu value="#{bookingBean.booking.pickupLocation}"
						id="select-location">
						<f:selectItems value="#{bicycleStockManagementDao.getLocations()}"></f:selectItems>
						<f:ajax event="change" execute="@form"></f:ajax>
					</p:selectOneMenu>
					<p:message for="select-location" />
					<br />
					
				Drop-off location:
					<p:selectOneMenu value="#{bookingBean.booking.dropOffLocation}"
						id="drop-location">
						<f:selectItems value="#{bicycleStockManagementDao.getLocations()}"></f:selectItems>
						<f:ajax event="change" execute="@form"></f:ajax>
					</p:selectOneMenu>
					<p:message for="drop-location" />
					<br />
				</h:panelGrid>
			</h:form>

			<h:form id="select_bicycle_form">
				Bicycle information:
					<p:dataTable id="select_bicycles"
					value="#{bookingBean.getAvailableStock()}" var="entry">
					<p:column headerText="Size" style="width: 165px;">
						<h:outputText value="#{entry.key.size}">
						</h:outputText>
					</p:column>
					<p:column headerText="Model">
						<h:outputText value="#{entry.key.model}">
						</h:outputText>
					</p:column>
					<p:column headerText="Price per day">
                        <h:outputText value="€#{entry.key.pricePerDay}">
                        </h:outputText>
                    </p:column>
					<p:column headerText="AvailableCount" style="text-align:center">
						<h:outputText value="#{entry.value}">
						</h:outputText>
					</p:column>
					<p:column headerText="BasketCount" style="text-align:center">
						<p:spinner min="0" max="#{entry.value}" id="spinnerField"
							binding="#{spinnerField}">
							<p:ajax event="valueChange"
								listener="#{bookingBean.updateBasketCount(entry.key, spinnerField.value)}"></p:ajax>
						</p:spinner>
					</p:column>

				</p:dataTable>
			</h:form>
		
			<h:form>
				<p:commandButton action="#{bookingBean.makeBooking}" value="Book" />
			</h:form>
		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>