<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../css/styles.css" />
	<title>Greenway Bicycles</title>
	<script type="text/javascript">
		//<![CDATA[
		/**
		 * Faces Validator
		 */
		PrimeFaces.validator['custom.emailValidator'] = {

			pattern : /\S+@\S+/,

			validate : function(element, value) {
				//use element.data() to access validation metadata, in this case there is none.
				if (!this.pattern.test(value)) {
					throw {
						summary : 'Validation Error',
						detail : value + ' is not a valid email.',
						severity : 'error'
					}
				}
			}
		};
		//]]>
	</script>
</h:head>
<h:body>
	<div id="header">
		<div class="header">
			<img src="../images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="../index.xhtml">Home</a></li>
				<li><a href="../news.xhtml">News</a></li>
				<li><a href="../contact.xhtml">Contact</a></li>
				<li><a href="../about.xhtml">About</a></li>
				<li><a href="../map.xhtml">Map</a></li>
				<li><a href="../registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{securityBean.user.role}:
						#{securityBean.user.firstName} #{securityBean.user.surname} </a></li>
				<li><button type="submit"
						onclick="document.location = '../dashboard.xhtml'"
						class="backtodashbtn">BACK TO DASHBOARD</button></li>
			</ul>
		</div>
	</div>

	<div id="main">

		<div class="container">

			<h3>#{securityBean.user.role} VIEW BICYCLES FOR:
				#{securityBean.user.firstName} #{securityBean.user.surname}</h3>
			<h2>MAIN GIANT ESCAPE BICYCLE AGENTS</h2>
			<div class="row">
				<div class="column" style="background-color: #aaa;">
					<a href="../images/sizingsheet.jpg" target="_blank"> <img
						src="../images/sizingsheet.jpg" alt="Bicycle" style="width: 70%;" /></a>
					<h2>Sizing Your Bike</h2>
					<p class="description pb-4">If you have a spirit level, place
						it horizontally between your legs. Place yourself against a door
						or wall so that the top of your measuring instrument is parallel
						to the ground. Measure from the ground to the spirit level or the
						book with the tape measure. The length on the tape measure is your
						'step length'.</p>
					<p>CLICK image above to view more sizing tips</p>
				</div>
				<div class="column" style="background-color: #bbb;">
					<img src="../images/Escape1.jpg" alt="Bicycle" style="width: 70%;" />
					<h2>Balanced Efficiency</h2>
					<p class="description pb-4">With its lightweight ALUXX
						aluminium frame, upright positioning and high-quality parts that
						give it a smooth, comfortable ride, the Escape Disc is totally
						versatile and totally fun to ride.</p>
				</div>
				<div class="column" style="background-color: #ccc;">
					<img src="../images/Escape2.jpg" alt="Bicycle" style="width: 70%;" />
					<h2>Versatile &amp; Capable</h2>
					<p class="description pb-4">It now features a high-quality
						composite fork* and innovative D-Fuse seatpost.Both are great for
						smoothing out rough roads, absorbing shocks and vibrations, and
						giving you a smoother, more comfortable ride.</p>
				</div>
				<div class="column" style="background-color: #ddd;">
					<img src="../images/Escape3.jpg" alt="Bicycle" style="width: 70%;" />
					<h2>Rugged Reliability</h2>
					<p class="description pb-4">The disc brakes deliver powerful
						braking performance in dry or wet conditions, and the 700c wheels
						with Giant EasyRide Tubeless tyres (on select models) keep you
						rolling with speed, efficiency and a reduced risk of flats.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>