<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/w3.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script type="application/javascript" charset="utf-8" src="a.js"
		defer="defer"></script>
	<title>Greenway Bicycles</title>

</h:head>

<h:body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="login.xhtml">Login</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
			</ul>
		</div>
	</div>

	<div id="main">
		<div class="container">
			<div class="w3-container">
				<h2>Greenway Bicycles</h2>
			</div>

			<div class="w3-content w3-display-container">

				<div class="w3-display-container mySlides">
					<img src="images/slideshow5.jpg"  alt="logo" style="width: 100%" />
					<div
						class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
						Whether you are on a family adventure.......</div>
				</div>

				<div class="w3-display-container mySlides">
					<img src="images/slideshow1.jpg"  alt="logo" style="width: 100%" />
					<div
						class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
						Or you're giving the kids their first taste of cycling.........</div>
				</div>

				<div class="w3-display-container mySlides">
					<img src="images/slideshow2.jpg"  alt="logo" style="width: 100%" />
					<div
						class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
						Maybe you want to take it easy..........</div>
				</div>

				<div class="w3-display-container mySlides">
					<img src="images/slideshow3.jpg"  alt="logo" style="width: 100%" />
					<div
						class="w3-display-topright w3-large w3-container w3-padding-16 w3-black">
						Maybe you don't..........!!!</div>
				</div>

				<div class="w3-display-container mySlides">
					<img src="images/slideshow4.jpg"  alt="logo" style="width: 100%" />
					<div
						class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
						Whatever cycling needs you have we here at Greenway Bicycles have
						you covered</div>
				</div>

				<button class="w3-button w3-display-left w3-black"
					onclick="plusDivs(-1)">&#10094;</button>
				<button class="w3-button w3-display-right w3-black"
					onclick="plusDivs(1)">&#10095;</button>

			</div>

			<script type="text/javascript">
				//<![CDATA[
				var slideIndex = 1;
				showDivs(slideIndex);

				function plusDivs(n) {
					showDivs(slideIndex += n);
				}

				function showDivs(n) {
					var i;
					var x = document.getElementsByClassName("mySlides");
					if (n > x.length) {
						slideIndex = 1
					}
					if (n < 1) {
						slideIndex = x.length
					}
					for (i = 0; i < x.length; i++) {
						x[i].style.display = "none";
					}
					x[slideIndex - 1].style.display = "block";
				}
				//]]>
			</script>


		</div>

	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>