<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/styles.css" />
	<f:facet name="last">
		<link rel="stylesheet" href="css/stock-management.css" />
	</f:facet>
	<title>Greenway Bicycles</title>
</h:head>

<h:body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>
			<ul>
				<li><a class="active" href="../index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{securityBean.user.role}:
						#{securityBean.user.firstName} #{securityBean.user.surname} </a></li>
				<li><button type="submit"
						onclick="document.location = 'dashboard.xhtml'"
						class="backtodashbtn">BACK TO DASHBOARD</button></li>
			</ul>
		</div>
	</div>

	<div id="main">

		<div class="container">
			<h3>Change Bicycle Pricing</h3>
			<h:form id="edit_bicycle_price_form">
				<!-- Has to be this method -->
				<p:dataTable id="edit-bicycle-table"
					value="#{bicycleStockManagementDao.getUniqueBicycles()}"
					var="bicycle">
					<p:column headerText="Size">
						<h:outputText value="#{bicycle.size}"></h:outputText>
					</p:column>
					<p:column headerText="Model">
						<h:outputText value="#{bicycle.model}"></h:outputText>
					</p:column>
					<p:column headerText="Price Per Day">
						<h:outputText value="€#{bicycle.pricePerDay}"
							rendered="#{bsmb.editBicycle ne bicycle}"></h:outputText>
						<p:inputText value="#{bicycle.pricePerDay}"
							rendered="#{bsmb.editBicycle eq bicycle}">
						</p:inputText>
					</p:column>
					<p:column>
						<p:commandButton value="Edit Price"
							rendered="#{bsmb.editBicycle ne bicycle}"
							action="#{bsmb.setEditBicycle(bicycle)}" update="@form">
							<f:ajax event="click" render="edit-bicycle-table"></f:ajax>
						</p:commandButton>
						<p:commandButton value="Save" styleClass="ui-button-success"
							rendered="#{bsmb.editBicycle eq bicycle}"
							action="#{bsmb.setEditBicycle(null)}" update="@form">
							<!-- Listener is exec before the action -->
							<f:actionListener
								binding="#{bsmb.changeBicyclePrices(bicycle)}" />
							<f:ajax event="click" render="edit-bicycle-table"></f:ajax>
						</p:commandButton>
						<p:commandButton value="Cancel" styleClass="ui-button-secondary"
							rendered="#{bsmb.editBicycle eq bicycle}"
							action="#{bsmb.setEditBicycle(null)}" update="@form">
							<p:resetInput target="@form"></p:resetInput>
							<f:ajax event="click" render="edit-bicycle-table"></f:ajax>
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>
		</div>
		<div class="container">
			<h3>Manage Stock</h3>
			<h:form id="edit_location_selection_form">
				<p:selectOneMenu value="#{bsmb.editStockLocation}"
					id="select-location">
					<f:selectItems value="#{bicycleStockManagementDao.getLocations()}"></f:selectItems>
					<f:ajax event="change"
						render=":edit_location_table_form:stock-table-edit"
						execute="@form"></f:ajax>
				</p:selectOneMenu>
			</h:form>
			<h:form id="edit_location_table_form">
				<p:dataTable id="stock-table-edit" value="#{bsmb.getStockCount(bsmb.editStockLocation)}"
					var="entry">
					<p:column headerText="Size" style="width: 165px;">
						<h:outputText value="#{entry.key.size}">
						</h:outputText>
					</p:column>
					<p:column headerText="Model">
						<h:outputText value="#{entry.key.model}">
						</h:outputText>
					</p:column>
					<p:column headerText="Count" style="text-align:center">
						<h:outputText value="#{entry.value}">
						</h:outputText>
					</p:column>
					<p:column headerText="Add/Remove 1 Stock" style="padding:0">
						<div class="flex flex-row">
							<p:commandButton styleClass="column-button ui-button-success"
								value="Add" action="#{bsmb.addBicycle(entry.key)}"
								form="edit_location_table_form" update="@form">
								<f:ajax event="click"
									render="stock-table-edit :from_location_table_form:stock-table-from :to_location_table_form:stock-table-to :booking_inventory_form"></f:ajax>
							</p:commandButton>
							<p:commandButton styleClass="column-button ui-button-danger"
								value="Remove" action="#{bsmb.removeBicycle(entry.key)}"
								form="edit_location_table_form" update="@form">
								<f:ajax event="click"
									render="stock-table-edit :from_location_table_form:stock-table-from :to_location_table_form:stock-table-to :booking_inventory_form"></f:ajax>
							</p:commandButton>
						</div>
					</p:column>
				</p:dataTable>
			</h:form>
		</div>

		<div class="container">
			<h3>Move Stock</h3>
			<div class="flex flex-row">
				<!-- From location -->
				<div class="location-container">
					<DIV class="select-place-container">
						<h4>From</h4>
					</DIV>
					<h:form id="from_location_selection_form">
						<p:selectOneMenu value="#{bsmb.fromLocation}" id="from-location">
							<f:selectItems
								value="#{bicycleStockManagementDao.getLocations()}"
								var="location" itemDisabled="#{location eq bsmb.toLocation}"></f:selectItems>
							<f:ajax event="itemSelect"
								render=":from_location_table_form:stock-table-from :to_location_selection_form:to-location :booking_inventory_form"
								execute="@form"></f:ajax>
						</p:selectOneMenu>
					</h:form>


					<h:form id="from_location_table_form">
						<p:dataTable id="stock-table-from" styleClass="stock-table"
							value="#{bsmb.getStockCount(bsmb.fromLocation)}" var="entry">
							<p:column headerText="Size" style="width: 165px;">
								<h:outputText value="#{entry.key.size}">
								</h:outputText>
							</p:column>
							<p:column headerText="Model">
								<h:outputText value="#{entry.key.model}">
								</h:outputText>
							</p:column>
							<p:column headerText="Count" style="text-align:center">
								<h:outputText value="#{entry.value}">
								</h:outputText>
							</p:column>
							<p:column style="width: 80px;  padding:0">
								<p:commandButton styleClass="column-button" value="Move"
									action="#{bsmb.moveStock(entry.key)}"
									update="@form :to_location_selection_form">
									<f:ajax event="click"
										render="stock-table-from :to_location_table_form:stock-table-to :edit_location_table_form:stock-table-edit :booking_inventory_form"></f:ajax>

								</p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>
				</div>

				<!-- To location -->
				<div class="location-container">
					<DIV class="select-place-container">
						<h4>To</h4>
					</DIV>
					<h:form id="to_location_selection_form">
						<p:selectOneMenu value="#{bsmb.toLocation}" id="to-location">
							<f:selectItems
								value="#{bicycleStockManagementDao.getLocations()}"
								var="location" itemDisabled="#{location eq bsmb.fromLocation}"></f:selectItems>
							<f:ajax event="change"
								render=":to_location_table_form:stock-table-to :from_location_selection_form:from-location :booking_inventory_form"></f:ajax>
						</p:selectOneMenu>
					</h:form>
					<h:form id="to_location_table_form">
						<p:dataTable id="stock-table-to" styleClass="stock-table"
							value="#{bsmb.getStockCount(bsmb.toLocation)}" var="entry">
							<p:column headerText="Size">
								<h:outputText value="#{entry.key.size}">
								</h:outputText>
							</p:column>
							<p:column headerText="Model">
								<h:outputText value="#{entry.key.model}">
								</h:outputText>
							</p:column>
							<p:column headerText="Count">
								<h:outputText value="#{entry.value}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
				</div>
			</div>
			<h3>Inventories after bookings tomorrow</h3>
			<h:form id="booking_inventory_form">
				<div class="flex flex-row">
					<div class="location-container">
						<div class="select-place-container">
							<h4>#{bsmb.fromLocation}</h4>
						</div>
						<p:dataTable style="margin-right: 5px;"
							value="#{bsmb.getStockBalancesAfterBookings(bsmb.fromLocation)}"
							var="entry">
							<p:column headerText="Size">
								<h:outputText value="#{entry.key.size}" rendered="#{entry.value gt -1}"></h:outputText>
								<h:outputText value="#{entry.key.size}" styleClass="warning-row" rendered="#{entry.value lt 0}"></h:outputText>
							</p:column>
							<p:column headerText="Model">
								<h:outputText value="#{entry.key.model}" rendered="#{entry.value gt -1}"></h:outputText>
                                <h:outputText value="#{entry.key.model}" styleClass="warning-row" rendered="#{entry.value lt 0}"></h:outputText>
							</p:column>
							<p:column headerText="Count">
								<h:outputText value="#{entry.value}" rendered="#{entry.value gt -1}"></h:outputText>
                                <h:outputText value="#{entry.value}" styleClass="warning-row" rendered="#{entry.value lt 0}"></h:outputText>
							</p:column>
						</p:dataTable>

					</div>

					<div class="location-container">
						<div class="select-place-container">
							<h4>#{bsmb.toLocation}</h4>
						</div>
						<p:dataTable
							value="#{bsmb.getStockBalancesAfterBookings(bsmb.toLocation)}"
							var="entry">
							<p:column headerText="Size">
                                <h:outputText value="#{entry.key.size}" rendered="#{entry.value gt -1}"></h:outputText>
                                <h:outputText value="#{entry.key.size}" styleClass="warning-row" rendered="#{entry.value lt 0}"></h:outputText>
                            </p:column>
                            <p:column headerText="Model">
                                <h:outputText value="#{entry.key.model}" rendered="#{entry.value gt -1}"></h:outputText>
                                <h:outputText value="#{entry.key.model}" styleClass="warning-row" rendered="#{entry.value lt 0}"></h:outputText>
                            </p:column>
                            <p:column headerText="Count">
                                <h:outputText value="#{entry.value}" rendered="#{entry.value gt -1}"></h:outputText>
                                <h:outputText value="#{entry.value}" styleClass="warning-row" rendered="#{entry.value lt 0}"></h:outputText>
                            </p:column>
						</p:dataTable>

					</div>
				</div>
			</h:form>
		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>