<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/styles.css" />

	<title>Greenway Bicycles</title>
</h:head>

<h:body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>
			<ul>
				<li><a class="active" href="../index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{security.user.role}:
						#{securityBean.user.firstName} #{securityBean.user.surname} </a></li>
				<li><button type="submit"
						onclick="document.location = 'dashboard.xhtml'"
						class="backtodashbtn">BACK TO DASHBOARD</button></li>
			</ul>
		</div>
	</div>

	<div id="main">
		<div class="container">
			<h3>Check-in / Check-out bookings</h3>
			<h:form id="change_location_form">
				<p:selectOneMenu binding="#{selectBookingLocation}"
					id="selectBookingLocation" value="#{bookingManagementBean.bookingLocation}">
					<f:selectItems value="#{bicycleStockManagementDao.getLocations()}"></f:selectItems>
					<f:ajax event="change" render=":booking_table_form:bookingTable"></f:ajax>
				</p:selectOneMenu>
			</h:form>
			<h:form id="booking_table_form">
				<p:dataTable id="bookingTable"
					value="#{bookingDao.getActiveBookingsFromLocation(selectBookingLocation.value)}"
					var="booking">
					<p:column headerText="Email">
						<h:outputText value="#{booking.user.email}"></h:outputText>
					</p:column>
					<p:column headerText="Booking Date (Started/Finished)">
						<h:outputText value="#{booking.startDate}"
							rendered="#{booking.pickupLocation eq bookingManagementBean.bookingLocation and !booking.pickedUp}"></h:outputText>
						<h:outputText value="#{booking.endDate}"
							rendered="#{booking.dropOffLocation eq bookingManagementBean.bookingLocation and booking.pickedUp}"></h:outputText>
					</p:column>
					<p:column>
						<!-- Using ajax listener so confirmDialog is rendered with booking before showing it -->
						<p:commandButton value="Pick up" styleClass="ui-button-success"
							rendered="#{!booking.pickedUp}" update="@form" action="#{bookingManagementBean.showConfirm(booking)}">
						</p:commandButton>
						<p:commandButton value="Drop off" styleClass="ui-button-danger"
							rendered="#{booking.pickedUp}" update="@form" action="#{bookingManagementBean.showConfirm(booking)}">
						</p:commandButton>
					</p:column>
				</p:dataTable>
				<p:dialog id="confirmDialog" widgetVar="confirmDialogVar"
					width="500px">
				Confirm the customer has the following bicyles
					<p:dataTable value="#{bookingManagementBean.booking.bicycles}" scrollHeight="400" scrollWidth="400" var="bicycle" scrollable="true">
						<p:column headerText="Size">
							<h:outputText value="#{bicycle.size}"></h:outputText>
						</p:column>
						<p:column headerText="Model">
							<h:outputText value="#{bicycle.model}"></h:outputText>
						</p:column>
					</p:dataTable>
					<p:commandButton value="Confirm"
						action="#{bookingManagementBean.confirmBooking()}"
						 update="@form">
					</p:commandButton>
				</p:dialog>
			</h:form>
		</div>
		<!-- <div class="container">
			<h3>Create walk-in booking</h3>

			<p:selectOneMenu binding="#{walkInBookingLocation}">
				<f:selectItems value="#{bicycleStockManagementDao.getLocations()}"></f:selectItems>
			</p:selectOneMenu>
			<h:outputText value="Email"></h:outputText>
			<h:inputText value=></h:inputText>
		</div>
		 -->
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>