<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/styles.css" />
	<title>Greenway Bicycles</title>
</h:head>

<h:body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="login.xhtml">Login</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
			</ul>
		</div>
	</div>

	<div id="main">
		<div class="container">
			<h2>CONTACT US</h2>

			<div class="row">
				<div class="column" style="background-color: #aaa;">
					<h2>Athlone Depot</h2>
					<p>Unit 1 Blyry Business Park</p>
					<p>Garrycastle</p>
					<p>Athlone</p>
					<p>County Westmeath</p>
					<p>Call us on 086-1731877</p>
					<p>Email us at athlone@greenway.ie</p>
				</div>
				<div class="column" style="background-color: #bbb;">
					<h2>Mullingar Depot</h2>
					<p>Unit 1 Mullingar Business Park</p>
					<p>Clonmore</p>
					<p>Mullingar</p>
					<p>County Westmeath</p>
					<p>Call us on 087-2831977</p>
					<p>Email us at mullingar@greenway.ie</p>
				</div>
				<div class="column" style="background-color: #ccc;">
					<h2>Castletown Depot</h2>
					<p>St Malachys Forest Park</p>
					<p>Lilliput Road</p>
					<p>Castletown Geoghegan</p>
					<p>County Westmeath</p>
					<p>Call us on 085-7256077</p>
					<p>Email us at castletown@greenway.ie</p>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>