<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/styles.css" />
	<title>Greenway Bicycles</title>
</h:head>

<h:body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="login.xhtml">Login</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{dashboardBean.user.role}:
						#{dashboardBean.user.firstName} #{dashboardBean.user.surname} </a></li>
				<li><h:form><p:commandButton action="#{securityBean.logout()}" value="LOGOUT"
						onclick="document.location = 'login.xhtml'"
						styleClass="ui-button-danger" /></h:form></li>
			</ul>
		</div>
	</div>

	<div id="main">

		<div class="container">

			<h3>#{dashboardBean.user.role} DASHBOARD FOR:
				#{dashboardBean.user.firstName} #{dashboardBean.user.surname}</h3>
			<p>Click on the link below to</p>


			<h:panelGroup styleClass="row"
				rendered="#{dashboardBean.user.role eq 'CUSTOMER'}">

				<div class="column">
					<div class="card_col_1">
						<h3>CREATE BOOKING</h3>
						<p>Book Your Bicycle Rental</p>
						<button type="submit"
							onclick="document.location = '../greenway-bicycles/customer/create_booking.xhtml'"
							class="dashbtn">CLICK HERE</button>
					</div>
				</div>

				<div class="column">
					<div class="card_col_2">
						<h3>VIEW BICYCLE INFO</h3>
						<p>View our bicycle model options</p>
						<button type="submit"
							onclick="document.location = '../greenway-bicycles/customer/view_bicycles.xhtml'"
							class="dashbtn">CLICK HERE</button>
					</div>
				</div>

				<div class="column">
					<div class="card_col_3">
						<h3>MANAGE ACCOUNT</h3>
						<p>Manage your credentials</p>
						<button type="submit"
							onclick="document.location = 'manage-account.xhtml'"
							class="dashbtn">CLICK HERE</button>
					</div>
				</div>

				<div class="column">
					<div class="card">
						<h3>MEET OUR STAFF</h3>
						<p>Meet our friendly staff members</p>
						<button type="submit"
							onclick="document.location = '../greenway-bicycles/customer/meet_our_staff.xhtml'"
							class="dashbtn">CLICK HERE</button>
					</div>
				</div>
			</h:panelGroup>

			<hr />

			<h:panelGroup styleClass="row"
				rendered="#{dashboardBean.user.role eq 'STAFF'}">
				<div class="column">
					<div class="card_col_1">
						<h3>MANAGE BOOKINGS</h3>
						<p>Booking Management</p>
						<button type="submit"
							onclick="document.location = '../greenway-bicycles/booking-management.xhtml'"
							class="dashbtn">CLICK HERE</button>
					</div>
				</div>
				<div class="column">
					<div class="card_col_4">
						<h3>DAILY REPORTS </h3>
						<p>Booking Summaries</p>
						<button type="submit"
							onclick="document.location = '../greenway-bicycles/staff/daily_reports.xhtml'"
							class="dashbtn">CLICK HERE</button>
					</div>
				</div>

				<div class="column">
					<div class="card_col_2">
						<h3>MANAGE BICYCLES</h3>
						<p>Stock Management</p>
						<button type="submit"
							onclick="document.location = '../greenway-bicycles/bicycleStock.xhtml'"
							class="dashbtn">CLICK HERE</button>
					</div>
				</div>

				<!-- 		<div class="column">
					<div class="card_col_3">
						<h3>Manage Customers</h3>
						<p>As a Staff Member</p>
						<p>Some text</p>
						<button type="submit"
							onclick="document.location = '../greenway-bicycles/staff/manage_customers.xhtml'"
							class="dashbtn">CLICK HERE</button>
					</div> 
				</div>  -->

				<div class="column">
					<div class="card">
						<h3>MANAGE USERS</h3>
						<p>Customer/Staff Management</p>

						<button type="submit"
							onclick="document.location = '../greenway-bicycles/user-management.xhtml'"
							class="dashbtn">CLICK HERE</button>
					</div>
				</div>
			</h:panelGroup>

		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>