<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/styles.css" />
	<title>Greenway Bicycles</title>
	<script type="text/javascript">
		//<![CDATA[
		/**
		 * Faces Validator
		 */
		PrimeFaces.validator['custom.emailValidator'] = {

			pattern : /\S+@\S+/,

			validate : function(element, value) {
				//use element.data() to access validation metadata, in this case there is none.
				if (!this.pattern.test(value)) {
					throw {
						summary : 'Validation Error',
						detail : value + ' is not a valid email.',
						severity : 'error'
					}
				}
			}
		};
		//]]>
	</script>
</h:head>

<h:body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="login.xhtml">Login</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{securityBean.user.role}:
						#{securityBean.user.firstName} #{securityBean.user.surname} </a></li>
				<li><button type="submit"
						onclick="document.location = 'login.xhtml'" class="logoutbtn">LOGOUT</button></li>
			</ul>
		</div>
	</div>

	<div id="main">


		<div class="container">
			<form id="contact_form" method="post" action="contact.php">
				<h2>FEEDBACK FORM</h2>
				<p style="margin-top: 20px">
					<label>COUNTRY OF RESIDENCE</label>
					<p:selectOneMenu id="country" name="country" type="text"
						style="width: 80%">
						<f:selectItem itemLabel="Ireland" itemValue="IRELAND" />
						<f:selectItem itemLabel="England" itemValue="ENGLAND" />
						<f:selectItem itemLabel="Scotland" itemValue="SCOTLAND" />
						<f:selectItem itemLabel="Wales" itemValue="WALES" />
						<f:selectItem itemLabel="Northern Ireland" itemValue="N.IRELAND" />
						<f:selectItem itemLabel="France" itemValue="FRANCE" />
						<f:selectItem itemLabel="Germany" itemValue="GERMANY" />
						<f:selectItem itemLabel="United States" itemValue="USA" />
						<f:selectItem itemLabel="Japan" itemValue="JAPAN" />
						<f:selectItem itemLabel="Canada" itemValue="CANADA" />
						<f:selectItem itemLabel="South Africa" itemValue="S.AFRICA" />
						<f:selectItem itemLabel="Other" itemValue="OTHER" />
					</p:selectOneMenu>
				</p>

				<p style="margin-top: 20px">
					<label for="initial">FULL NAME</label><br /> <input id="initial"
						name="initial" type="text" style="width: 80%" />
				</p>
				<p style="margin-top: 20px">
					<label for="surname">ADDRESS</label><br /> <input id="surname"
						name="surname" type="text" style="width: 80%" />
				</p>
				<p style="margin-top: 20px">
					<label for="tel_number">CONTACT PHONE NUMBER</label><br /> <input
						id="tel_number" name="tel_number" type="text" style="width: 80%" />
				</p>
				<p style="margin-top: 20px">
					<label for="email">EMAIL ADDRESS</label><br /> <input id="email"
						name="email" type="text" style="width: 80%" />
				</p>

				<p style="margin-top: 20px">
					<label for="enquiry">HOW DID WE DO?</label><br />
					<textarea id="enquiry" name="enquiry" rows="7" cols="10"
						style="width: 80%" />
				</p>

				<p:commandButton value="SUBMIT FEEDBACK FORM" style="margin: 0px;"
					rendered="#{emailBean.edittingUser == user}"
					action="#{emailBean.saveUser(true)}">
					<f:ajax event="click" render="user-table" />
				</p:commandButton>

			</form>

		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>