<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/styles.css" />
	<link rel="stylesheet" href="css/fontawesome.css" />
	<title>Greenway Bicycles</title>
</h:head>

<h:body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="login.xhtml">Login</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
			</ul>
		</div>
	</div>

	<div id="main">

		<div class="container">
			<div class="row content-bg px-3 pb-1 pt-5 text-center">
				<div class="column" style="background-color: #ccc;">
					<img src="images/cycling1.jpg" alt="logo" style="width: 80%;" />
					<h2>Our Values</h2>
					<p class="description pb-4">We are a family business who strive
						to provide a friendly, convenient bicycle rental solution to our
						customers. When you are happy, we are happy.</p>
				</div>
				<div class="column" style="background-color: #ccc;">
					<img src="images/cycling2.jpg" alt="logo" style="width: 100%;" />
					<h2>Our Experience</h2>
					<p class="description pb-4">With over 20 years' experience in
						the bicycle rental industry and over 100 years' combined cycling
						experience, we are the Midland's premier one-stop-shop for all
						your bicycle rental needs.</p>
				</div>

				<div class="column" style="background-color: #ccc;">
					<img src="images/cycling3.jpg" alt="logo" style="width: 80%;" />
					<h2>Your Holiday</h2>
					<p class="description pb-4">With our know how and years of
						experience we can help you plan your cycling holiday or even just
						a funday out cycling the highways and bye-ways of the Midlands.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>