<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link type="text/css" rel="stylesheet" href="css/styles.css" />
	<title>Greenway Bicycles</title>
</h:head>

<h:body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{securityBean.user.role}:
						#{securityBean.user.firstName} #{securityBean.user.surname} </a></li>
				<li><button type="submit"
						onclick="document.location = 'dashboard.xhtml'"
						class="backtodashbtn">BACK TO DASHBOARD</button></li>
			</ul>
		</div>
	</div>

	<div id="main">
		<div class="container">
			<h:form>
				<p:growl id="message" showDetail="true" />
				<h3>Manage Account</h3>
				<h:panelGrid style="width:750px; margin: auto;" columns="2"
					columnClasses="table-column-s,table-column-m"
					styleClass="ui-panelgrid-blank ui-fluid">
			First name:
			<p:inputText value="#{securityBean.user.firstName}" required="true"
						requiredMessage="First name required" />
						
			Surname:
			<p:inputText value="#{securityBean.user.surname}" required="true"
						requiredMessage="Surname required" />
            Phone:
            <p:inputText value="#{securityBean.user.phone}"
						required="true" requiredMessage="Phone number required" />
            Address:
            <p:inputTextarea value="#{securityBean.user.address}"
						required="true" requiredMessage="Address required" />
			Security Question:
            <p:inputText value="#{securityBean.user.securityQuestion}"
						required="true" requiredMessage="Security Question required" />
            Security Question Answer:
            <p:inputText value="#{securityBean.user.securityAnswer}"
						required="true" requiredMessage="Security Answer required" />
				</h:panelGrid>
				<p:commandButton partialSubmit="false" id="submit"
					value="Save Changes" action="#{loginBean.updateAccount}"
					update="@form" />
				<p:commandButton value="Cancel" styleClass="ui-button-secondary">
					<p:resetInput target="@form" />
					<f:ajax event="click" render="@form" />
				</p:commandButton>
			</h:form>
			<h:form>
				<p:growl id="message" showDetail="true" />
				<p:commandButton value="Delete Account"
					styleClass="ui-button-danger"
					action="#{userDao.deleteUserByEmail(securityBean.user.email)}">
					<p:confirm header="Confirmation"
						message="Do you want to delete this record?"
						icon="pi pi-info-circle" />
				</p:commandButton>
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
					responsive="true" width="350">
					<p:commandButton value="Cancel" type="button"
						styleClass="ui-confirmdialog-no ui-button-flat" />
					<p:button value="Remove" outcome="login.xhtml"
						styleClass="ui-confirmdialog-yes" />
				</p:confirmDialog>
			</h:form>

			<h3>Change Password</h3>
			<h:form>
				<p:messages />
				<h:panelGrid style="width:750px; margin: auto;" columns="2"
					columnClasses="table-column-s,table-column-m"
					styleClass="ui-panelgrid-blank ui-fluid">
            Old Password
            <p:password binding="#{oldPasswordField}" required="true"
						requiredMessage="Old password required to change password" />
				</h:panelGrid>
				<p:commandButton styleClass="ui-button-help" value="Change password"
					action="#{securityBean.verifyPassword(oldPasswordField.value)}"
					update="@form" />

			</h:form>

		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>
