<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/styles.css" />
	<title>Greenway Bicycles</title>
</h:head>

<h:body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="login.xhtml">Login</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
			</ul>
		</div>
	</div>

	<div id="main">

		<div class="container">
			<div class="row">
				<div class="leftcolumn">
					<div class="blog_card">
						<h2>ROYAL CANAL GREENWAY REOPENS</h2>
						<h5>June 7th 2021</h5>
						<a href="images/leaflet.jpg" target="_blank"> <img
							src="images/leaflet.jpg" alt="leaflet" style="width: 80%" /></a>
						<p>The enchanting Royal Canal Greenway is 130km of level
							towpath, ideal for walkers, runners and cyclists of all ages and
							stages.</p>

					</div>
					<div class="blog_card">
						<h2>THE GREAT WESTERN GREENWAY NOW OPEN</h2>
						<h5>May 5th 2021</h5>
						<img src="images/cycling1.jpg" alt="cycling" style="width: 80%" />
						<p>The Great Western Greenway walking and cycling trail is
							Irelands fastest growing and most sought-after tourism
							attraction. Running 44km around the Eastern and Northern
							stretches of Clew Bay in Co Mayo.</p>
					</div>
				</div>
				<div class="rightcolumn">
					<div class="blog_card">
						<h2>Photo of the Day</h2>
						<a href="images/slideshow6.jpg" target="_blank"> <img
							src="images/slideshow6.jpg" alt="cycling" style="width: 100%" /></a>
						<p>Abbeyshrules Whitworth Aqueduct allowing navigation of the
							Royal Canal over the River Inny</p>
					</div>
					<div class="blog_card">
						<h3>Recent Photos</h3>
						<a href="images/slideshow2.jpg" target="_blank"> <img
							src="images/slideshow2.jpg" alt="cycling" style="width: 100%" /></a>
						<br /> <a href="images/slideshow4.jpg" target="_blank"> <img
							src="images/slideshow4.jpg" alt="cycling" style="width: 100%" /></a>
						<br /> <a href="images/slideshow5.jpg" target="_blank"> <img
							src="images/slideshow5.jpg" alt="cycling" style="width: 100%" /></a>
					</div>
					<div class="blog_card">
						<h3>Email Us Your Photos</h3>
						<p>Send us some snaps of your holiday to info@greenway.ie and
							be in with a chance to win a weeks bicycles hire</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>