<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head></h:head>
<body>

	<h3>Product List</h3>
	<h:form prependId="false">
		<h:dataTable var="product" value="#{productManagedBean.products}"
			border="1" cellpadding="2" cellspacing="2">
			<h:column>
				<f:facet name="header">Id</f:facet>
				#{product.id}
			</h:column>
			<h:column>
				<f:facet name="header">Name</f:facet>
				#{product.name}
			</h:column>
			<h:column>
				<f:facet name="header">Description</f:facet>
				#{product.description}
			</h:column>
			<h:column>
				<f:facet name="header">Price</f:facet>
				#{product.price}
			</h:column>
			<h:column>
				<f:facet name="header">Quantity</f:facet>
				#{product.quantity}
			</h:column>
			<h:column>
				<f:facet name="header">Status</f:facet>
				#{product.status}
			</h:column>
			<h:column>
				<f:facet name="header">Option</f:facet>
				<h:commandLink value="Buy Now" action="#{cartManagedBean.buy(product)}"></h:commandLink>
			</h:column>
		</h:dataTable>
	</h:form>

</body>
</html>