<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/styles.css" />
	<title>Greenway Bicycles</title>
	<script type="text/javascript">
		//<![CDATA[
		/**
		 * Faces Validator
		 */
		PrimeFaces.validator['custom.emailValidator'] = {

			pattern : /\S+@\S+/,

			validate : function(element, value) {
				//use element.data() to access validation metadata, in this case there is none.
				if (!this.pattern.test(value)) {
					throw {
						summary : 'Validation Error',
						detail : value + ' is not a valid email.',
						severity : 'error'
					}
				}
			}
		};
		//]]>
	</script>
</h:head>

<h:body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="login.xhtml">Login</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
			</ul>
		</div>
	</div>

	<div id="main">

		<div class="container">

			<h2 style="color: red;">You do not have access to this page</h2>
		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>