<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link type="text/css" rel="stylesheet" href="css/styles.css" />
	<link type="text/css" rel="stylesheet" href="css/user-management.css" />
	<title>Greenway Bicycles</title>
</h:head>

<h:body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>
			<ul>
				<li><a class="active" href="../index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
				<li><a>LOGGED IN AS #{securityBean.user.role}:
						#{securityBean.user.firstName} #{securityBean.user.surname} </a></li>
				<li><button type="submit"
						onclick="document.location = 'dashboard.xhtml'"
						class="backtodashbtn">BACK TO DASHBOARD</button></li>
			</ul>
		</div>
	</div>

	<div id="main">
		<div class="container">

			<h3>Add a Staff Email</h3>
			<div class="container-corners">
				<p:messages id="add-staff-message" for="email-message" />
				<h:form id="add_staff_email_form">


					<div class="email-container">
						<p>Email:</p>
						<p:inputText binding="#{newStaffEmail}"
							validatorMessage="Invalid Email Format ." id="newStaffEmail"
							required="true" requiredMessage="Email address required">
							<f:validateRegex
								pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
						</p:inputText>
						<p:commandButton value="Add"
							style="margin-top: auto; margin-bottom: auto;"
							styleClass="w-25 h-75 add-email ui-button-success"
							action="#{userManagementBean.addStaff(newStaffEmail.value)}"
							update=":add-staff-message @form :remove_staff_email_form">
							<f:ajax event="click"
								render=":remove_staff_email_form:email-table" />
						</p:commandButton>
					</div>
				</h:form>
				<h:form id="remove_staff_email_form">
					<div class="email-table-container">
						<p:dataTable id="email-table"
							value="#{userManagementBean.staffEmails}" var="email">
							<p:column headerText="Staff emails not yet registered"
								styleClass="email-table">
								<h:outputText value="#{email}" />
							</p:column>
							<p:column style="width:100px">
								<p:commandButton value="Remove"
									action="#{userManagementBean.removeStaffEmail(email)}"
									styleClass="ui-button-danger email-remove-btn"
									update=":add-staff-message @form">
									<f:ajax event="click"
										render=":remove_staff_email_form:email-table" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</div>
				</h:form>
			</div>


			<h3>Edit Existing Users</h3>
			<h:form id="update_user_table_form">
				<div class="flex flex-row p-1">
					<p:selectOneMenu value="#{userManagementBean.userType}">
						<f:selectItems value="#{userManagementBean.filters}" />
						<f:ajax event="itemSelect" render=":user_table_form:user-table" />
					</p:selectOneMenu>
				</div>
			</h:form>

			<h:form id="user_table_form">
				<p:messages for="user-updated" />
				<p:dataTable id="user-table" var="user"
					value="#{userManagementBean.users}">
					<p:column headerText="Email">
						<h:outputText value="#{user.email}" />
					</p:column>
					<p:column headerText="First Name" style="width:100px;">
						<h:outputText
							rendered="#{userManagementBean.edittingUser != user}"
							value="#{user.firstName}" />
						<p:inputText
							style="padding-left:0; padding-right:0; margin-left:0;"
							rendered="#{userManagementBean.edittingUser == user}"
							value="#{user.firstName}" />

					</p:column>
					<p:column headerText="Surname" style="width:100px;">
						<h:outputText
							rendered="#{userManagementBean.edittingUser != user}"
							value="#{user.surname}" />
						<p:inputText
							style="padding-left:0; padding-right:0; margin-left:0;"
							rendered="#{userManagementBean.edittingUser == user}"
							value="#{user.surname}" />
					</p:column>
					<p:column headerText="Phone Number">
						<h:outputText
							rendered="#{userManagementBean.edittingUser != user}"
							value="#{user.phone}" />
						<p:inputText
							style="padding-left:0; padding-right:0; margin-left:0;"
							rendered="#{userManagementBean.edittingUser == user}"
							value="#{user.phone}" />
					</p:column>
					<p:column headerText="Role">
						<h:outputText
							rendered="#{userManagementBean.edittingUser != user}"
							value="#{user.role}" />
						<p:selectOneMenu value="#{user.role}" style="width:100%;"
							rendered="#{userManagementBean.edittingUser == user}">
							<f:selectItem itemLabel="Staff" itemValue="STAFF" />
							<f:selectItem itemLabel="Customers" itemValue="CUSTOMER" />
						</p:selectOneMenu>
					</p:column>
					<p:column headerText="" style="width:82px;">
						<p:commandButton value="Save" style="margin: 2px;"
							rendered="#{userManagementBean.edittingUser == user}"
							action="#{userManagementBean.saveUser(true)}" update="@form">
							<f:ajax event="click" render=":user_table_form:user-table" />
						</p:commandButton>
						<p:commandButton value="Cancel" style="margin: 2px;"
							styleClass="ui-button-secondary" action="#{userManagementBean.saveUser(false)}"
							rendered="#{userManagementBean.edittingUser == user}"
							update="@form">
							<f:ajax event="click" render=":user_table_form:user-table" />
							<p:resetInput target="@form" />
						</p:commandButton>
						<p:commandButton value="Edit"
							rendered="#{userManagementBean.edittingUser != user}"
							action="#{userManagementBean.editUser(user)}" update="@form">
							<f:ajax event="click" render=":user_table_form:user-table" />
						</p:commandButton>
					</p:column>
					<p:column style="width:85px;">
						<p:commandButton value="Remove" styleClass="ui-button-danger"
							action="#{userManagementBean.removeUser(user)}" update="@form">
							<f:ajax event="click" render=":user_table_form:user-table" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>
		</div>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</h:body>
</html>