<!DOCTYPE html [
<!ENTITY nbsp "&#160;">  
<!ENTITY copy "&#169;"> 
<!ENTITY bull "&#8226;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/styles.css" />
	<title>Registration View</title>
</h:head>
<body>
	<div id="header">
		<div class="header">
			<img src="images/greenway_logo.jpg" alt="logo" />
			<h1>Greenway Bicycles</h1>

			<ul>
				<li><a class="active" href="index.xhtml">Home</a></li>
				<li><a href="news.xhtml">News</a></li>
				<li><a href="contact.xhtml">Contact</a></li>
				<li><a href="about.xhtml">About</a></li>
				<li><a href="map.xhtml">Map</a></li>
				<li><a href="login.xhtml">Login</a></li>
				<li><a href="registration.xhtml">Registration</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<h:form>
			<div class="container">
				<h2>Registration Successful</h2>
				<table>
					<tr>
						<th>Requested Details</th>
						<th>Your Details</th>
					</tr>
					<tr>
						<td>First Name</td>
						<td>#{registrationBean.firstName}</td>
					</tr>
					<tr>
						<td>Surname</td>
						<td>#{registrationBean.surname}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>#{registrationBean.email}</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>#{registrationBean.currentAddress}</td>
					</tr>
					<tr>
						<td>Phone</td>
						<td>#{registrationBean.phoneNumber}</td>
					</tr>
				</table>
				<p:commandButton action="#{registrationBean.register}" value="Login"
					ajax="false" />
			</div>
		</h:form>
	</div>
	<div id="footer">
		<p>&#169; 2021 Team Kista</p>
	</div>
</body>
</html>
