<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
    <title>Dashboard</title>
</h:head>

<h:body>
    This is the dashboard for #{loginBean.user.firstName} #{loginBean.user.surname}
    <a href="index.html">Return to home</a>
</h:body>

</html>