<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/styles.css" />
	<title>Registration</title>

	<script type="text/javascript">
		//<![CDATA[
		/**
		 * Faces Validator
		 */
		PrimeFaces.validator['custom.emailValidator'] = {

			pattern : /\S+@\S+/,

			validate : function(element, value) {
				//use element.data() to access validation metadata, in this case there is none.
				if (!this.pattern.test(value)) {
					throw {
						summary : 'Validation Error',
						detail : value + ' is not a valid email.',
						severity : 'error'
					}
				}
			}
		};
		//]]>
	</script>
</h:head>
<body>

	<div id="header">
		<!-- <h1>Greenway Bicycles</h1> -->
		<img src="images/greenway_logo.jpg" alt="logo" style="width: 25%;" />
		<ul>
			<li><a class="active" href="home.xhtml">Home</a></li>

			<li><a href="news.xhtml">News</a></li>

			<li><a href="contact.xhtml">Contact</a></li>

			<li><a href="about.xhtml">About</a></li>

			<li><a href="map.xhtml">Map</a></li>

			<li><a href="login.xhtml">Login</a></li>

			<li><a href="registration.xhtml">Registration</a></li>
		</ul>
	</div>
	<div id="main">
		<h:form>

			<div class="container">
				<h2>Welcome To Greenway Bicycles</h2>
				<h:panelGrid columns="3" class="formTable">
			First name:
			<p:inputText value="#{registrationBean.firstName}" required="true"
						id="firstName" requiredMessage="First name required" />
					<p:message for="firstName" />
			Surname:
			<p:inputText value="#{registrationBean.surname}" required="true"
						id="surname" requiredMessage="Surname required" />
					<p:message for="surname" />
			Email address:
			<p:inputText value="#{registrationBean.email}" required="true"
						id="email" requiredMessage="Email address required"
						validatorMessage="Invalid Email Format .">
						<f:validateRegex
							pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
					</p:inputText>
					<p:message for="email" />
			Phone number:
			<p:inputText value="#{registrationBean.phoneNumber}" required="true"
						id="phoneNumber" requiredMessage="Phone number required" />
					<p:message for="phoneNumber" />
			Current address:
			<p:inputTextarea rows="6" cols="33"
						value="#{registrationBean.currentAddress}" required="true"
						id="currentAddress" requiredMessage="Current address required" />
					<p:message for="currentAddress" />
			Password:
			<p:password value="#{registrationBean.password}" feedback="true"
						id="password" required="true" requiredMessage="Password required"
						validatorMessage="Password and confirm password should be the same."
						match="confirmPassword">
						<f:validateLength minimum="2" />
					</p:password>
					<p:message for="password" />
			Confirm password:
			<p:password value="#{registrationBean.confirmPassword}"
						required="true" id="confirmPassword"
						requiredMessage="Confirm password required"
						validatorMessage="Confirm password must be 2 or more chars.">
						<f:validateLength minimum="2" />
					</p:password>
					<p:message for="confirmPassword" />
				</h:panelGrid>
				<p:commandButton action="#{registrationBean.addUser}"
					value="Register" ajax="false" />
			</div>
		</h:form>
	</div>
	<div id="footer">

		<p>©2021 Team Kista</p>
	</div>
</body>
</html>
