<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<title>Test Page</title>
</h:head>

<h:body>
	<h:form>
		<h:outputLabel value="Email: " />
		<h:inputText value="#{loginBean.email}" />
		<h:outputLabel value="Password: " />
		<h:inputSecret value="#{loginBean.password}" />

		<h:commandButton value="Login"
			action="#{loginBean.validateUserLogin()}" />

	</h:form>
</h:body>

</html>