<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/styles.css" />
	<title>Registration View</title>
</h:head>
<body>
	<div id="header">
		<!-- <h1>Greenway Bicycles</h1> -->
		<img src="images/greenway_logo.jpg" alt="logo" style="width: 25%;" />
		<ul>
			<li><a class="active" href="home.xhtml">Home</a></li>

			<li><a href="news.xhtml">News</a></li>

			<li><a href="contact.xhtml">Contact</a></li>

			<li><a href="about.xhtml">About</a></li>

			<li><a href="map.xhtml">Map</a></li>

			<li><a href="login.xhtml">Login</a></li>

			<li><a href="registration.xhtml">Registration</a></li>
		</ul>
	</div>
	<div id="main">
		<h:form>
			<div class="container">
				<h1>Registration Successful</h1>
				<ul>
					<li>First name: #{registrationBean.firstName}</li><br/>
					<li>Surname: #{registrationBean.surname}</li><br/>
					<li>Email: #{registrationBean.email}</li><br/>
					<li>Password: #{registrationBean.obscuredPassword}</li><br/>
					<li>PhoneNumber: #{registrationBean.phoneNumber}</li><br/>
					<li>Address: #{registrationBean.currentAddress}</li><br/>
				</ul>
				<p:commandButton action="#{registrationBean.register}" value="Login"
					ajax="false" />

			</div>
		</h:form>
	</div>
	<div id="footer">

		<p>©2021 Team Kista</p>
	</div>
</body>
</html>
