body { /*<body> defines the documents body*/
	font-family: Verdana, Helvetica, Arial, sans-serif;
	width: 80%; /*% means that the width is a % of the containing element*/
	margin: auto;
	/*auto means that the browser always calculates the margin*/
	background: url("../images/bicycle_background.jpg") repeat center center;
	/*background image is contained in the images folder*/
	background-attachment: center;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	/*cover means that the background image is resized fills all container space even if it has to be stretched or cut*/
}

#header {
	width: 100%;
	background-color: rgba(249, 249, 249, 1.0);
	/*background colour is set using RGBA, the A being for Alpha which controls the opacity of the colour*/
	color: black;
	margin: 20px 0px 20px 0px;
	font-family: 'Open Sans', sans-serif;
}

#footer {
	width: 100%;
	background-color: rgba(249, 249, 249, 0.8);
	color: black;
	margin: 20px 0px 20px 0px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 20px;
}

h1, h2, p, ul {
	padding: 10px 30px;
}

h1 {
	border-bottom: 10px black solid;
	font-size: 2rem;
}

p {
	color: #000000; /*paragraph colour here uses the HEX value*/
}

a {
	font-weight: bold; /*Link text is set to bold*/
}

a:link {
	color: #f9f9f9;
	/*colour here just uses the English name of the colour - not that common in practice*/
}

a:visited {
	color: white;
}

a:hover {
	color: orange;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

input[type=text], input[type=password], textarea {
	width: 100%;
	padding: 10px;
	margin: 5px 5px 5px 5px;
	display: inline;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: orange;
	outline: none;
}

.header {
	text-align: center;
	margin: 20px 0px 20px 0px;
	font-family: 'Open Sans', sans-serif;
	color: black;
}

.container {
	text-align: center;
	margin: 20px 0px 20px 0px;
	padding: 50px;
	font-family: 'Open Sans', sans-serif;
	color: black;
	background-color: rgba(249, 249, 249, 0.8);
	border-radius: 20px;
}

button {
	background-color: #04AA6D;
	color: white;
	width: 100%;
	padding: 10px 18px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 10px;
}

button:hover {
	opacity: 0.8;
}

.cancelbtn {
	width: 100%;
	padding: 10px 18px;
	background-color: #f44336;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

span.psw {
	display: block;
	float: none;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}